*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html {
font-family: "Montserrat", sans-serif;
}
body {
background: rgb(43, 43, 43);
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
background-attachment: fixed;
padding: 0;
}

a{
    text-decoration: none;
}

.logo {
    margin:0;
    /* border-bottom: 1px solid aliceblue; */
    background-color: rgb(255, 180, 41);
}

.logo h1{
    margin: 0;
    padding: 16px;
}

.category {
    margin: 0 0 16px 0;
    border-bottom: 1px solid aliceblue;
    background-color: rgb(66, 72, 78);
    overflow-inline: scroll;
}

.category .cat-list{
    display: block;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

.category .cat-list::-webkit-scrollbar {
    display: none;
  }

.category .cat-list .activ{
    background-color: rgba(255, 180, 41, 0.822);
}

.cat-item{
    display: inline-block;
    border: 0;
    color: aliceblue;
    background-color: transparent;
    max-height: 60px;
}

.cat-item:hover{
    background-color: rgba(255, 180, 41, 0.822);
}
  
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 32px auto 0px auto;
    background-color: transparent;
}

.menu-item{
    max-width: 50%;
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    
}

.menu-item .image {
    border: 0px;
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 10rem;
}
.menu-item .menu-content {
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid rgba(108,117,125);
    border-radius: 3rem;
}
.menu-item .menu-content h1{
    /* font-size: 3rem; */
}
